<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Scope</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>

  <body>
    <div class="app">
      <header class="main-nav">
        <a href="" class="main-nav-logo"></a>
        <div class="main-nav-wrapper">
          <div class="main-nav-list">
            <a href="" class="main-nav-list-item">Live</a>
            <a href="" class="main-nav-list-item">Push</a>
            <a href="" class="main-nav-list-item">Link</a>
            <a href="" class="main-nav-list-item">Shop</a>
            <a href="" class="main-nav-list-item">Packs</a>
            <a href="" class="main-nav-list-item">Help</a>
            <a href="" class="main-nav-list-item">More</a>
            <a href="" class="main-nav-list-item try">Try Live for free</a>
            <a href="" class="main-nav-list-item account">Account</a>
            <a href="" class="main-nav-list-item logout">Log out</a>
          </div>
        </div>
      </header>
      <div class="page">
        <div class="homepage">

        </div>
        <section class="panel"></section>
        <section class="panel"></section>
        <section class="panel"></section>
        <section class="panel"></section>
        <section class="panel categories"></section>
        <footer class="main-footer">
          <div class="main-footer-container">
            <div class="main-footer-content">
              <div class="main-footer-row">
                <div class="main-footer-col">
                  <img class="main-footer-logo" src="https://cdn-resources.ableton.com/80bA26cPQ1hEJDFjpUKntxfqdmG3ZykO/static/images/ableton-wordmark.c025e3df71b3.svg" alt="">
                </div>
              </div>
              <div class="main-footer-row">
                <div class="main-footer-col col-md">
                  <h3 class="main-footer-h3">Subscribe to our Newsletter</h3>
                  <div>Enter your email address to get occasional updates on Ableton special offers, products and events.</div>
                  
                </div>
                <div class="main-footer-col col-sm">
                  <ul class="main-footer-list">
                    <li><a href="">Register Live or Push</a></li>
                    <li><a href="">About Ableton</a></li>
                    <li><a href="">Jobs</a></li>
                  </ul>
                </div>
                <div class="main-footer-col col-sm">
                  <h3 class="main-footer-h3">Education</h3>
                  <ul class="main-footer-list">
                    <li><a href="">Offers for students and teachers</a></li>
                    <li><a href="">Offers for institutions</a></li>
                    <li><a href="">Push 1 trade-in initiative</a></li>
                  </ul>
                </div>
              </div>
              <div class="main-footer-row">
                <div class="main-footer-col col-sm">
                  <h3 class="main-footer-h3">Community</h3>
                  <ul class="main-footer-list">
                    <li><a href="">Find Ableton User Groups</a></li>
                    <li><a href="">Find Certified Training</a></li>
                    <li><a href="">Become a Certified Trainer</a></li>
                  </ul>
                </div>
                <div class="main-footer-col col-sm">
                  <h3 class="main-footer-h3">Distributors</h3>
                  <ul class="main-footer-list">
                    <li><a href="">Find Distributors</a></li>
                    <li><a href="">Try Push in-store</a></li>
                  </ul>
                </div>
                <div class="main-footer-col col-md">
                  <h3 class="main-footer-h3">Languange and Country</h3>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>
